@import "node_modules/priority-plus/dist/priority-plus";

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-family: 'Cinzel', serif;
  font-weight: 600;
}

header {
  width: 100%;
  margin: 0 auto;
  padding: 1ex var(--size-gutter) 1ex var(--size-gutter);
  display: flex;
  align-items: center;
  background: rgb(187,187,255);
  background: linear-gradient(151deg, rgba(187,187,255,1) 0%, rgba(255,187,255,1) 100%);
  color: var(--color-text);
  font-family: 'Cinzel', serif;
  font-size: var(--font-md);
  line-height: 1em;
  position: relative;

  .p-plus {
    z-index: 1;
  }

  // Target the Link component representing the site title
  > a {
    text-decoration: none;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: 'Cinzel', serif;
    font-weight: 900;

    &:hover,
    &:active,
    &:visited {
      color: var(--color-text);
    }

    .logo {
      position: absolute; /* Absolutely position our image container */
      top: 50%; /* Position at the half of the parent's height */
      left: -1px; /* Align to the left edge of the container */
      transform: translateY(-50%); /* Center vertically */
      height: 2em; /* Twice the font size */
      width: auto; /* Maintain aspect ratio of the image */

      img {
        height: 2em;
        display: block;
        width: auto;
      }
    }
  }

  // Target the div wrapping the navigation
  .menu {
    flex-grow: 1;
    height: var(--font-md);
    line-height: var(--font-md);

    nav {
      ul.js-p-target {
        display: flex;
        flex: 1 0 auto;
        margin: 0;
        padding: 0;
        
        li {
          display: list-item;
          list-style-type: none;
          line-height: var(--font-md);
          flex: 0 0 auto;
          padding: 0 1.5em 0 0;
          margin: 0;
          text-align: right;
        }
        li:last-child {
          padding-right: 0;
        }
      }
      ul.p-plus__overflow {
        background: rgb(187,187,255);
        background: linear-gradient(151deg, rgba(187,187,255,1) 0%, rgba(255,187,255,1) 100%);
        margin: 0;
        padding: 1.5em 1.5em 1.5em 1.5em;
        list-style-type: none;
      }

      // Target the Link component within each list item
      a {
        font-weight: 600;
        color: var(--color-text);
        text-decoration: none;
        &:hover,
        &:active,
        &:visited {
          color: var(--color-text);
        }
      }
      
    }
  }

  button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 1em;
    .hamburger {
      width: 1em;
      height: 1em;
      display: block;
      border: none;
      background: linear-gradient(
        to bottom, 
        #3D0E61, #3D0E61 20%, 
        transparent 20%, transparent 40%, 
        #3D0E61 40%, #3D0E61 60%, 
        transparent 60%, transparent 80%, 
        #3D0E61 80%, #3D0E61 100%
      );
    }
  }
}

@media (max-width: 400px) {
  header {
    font-size: var(--font-sm);
    a {
      .logo {
        left: 2px;
      }
    }
  }
}
@media (min-width: 800px) {
  header {
    font-size: var(--font-lg);
    a {
      .logo {
        left: -6px;
      }
    }
  }
}

.hero {
  position: relative;

  .hero-image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .hero-overlay {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: var(--size-gutter);
    right: 50%;
  }

  h1, h2, h3, h4 {
    word-break: keep-all;
    overflow-wrap: normal;
    margin: 0;
  }
}

@media (max-width: 500px) {
  .hero {
    .hero-image {
      height: 400px;
      
      picture {
        img {
          object-position: 60% 0;
        }
      }
    }
  }
}
@media (min-width: 800px) {
  .hero {
    .hero-image {
      height: 400px;
      
      picture {
        img {
          object-position: 0 90%;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .hero {
    .hero-image {
      height: 400px;
      
      picture {
        img {
          object-position: 0 50%;
        }
      }
    }
  }
}

a.button {
  background-color: var(--color-primary);
  box-shadow: 0 0.5em 0 var(--color-primary);
  color: white;
  padding: 1em 1.5em 0.5em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 1em;
  font-weight: 700;
  white-space: nowrap;
}

a.button:hover {
  background-color: var(--color-active);
  cursor: pointer;
}

a.button:active {
  box-shadow: none;
  top: 5px;
}

footer {
  width: 100%;
  margin: auto;
  margin-top: 2em;
  padding: 1ex 0;
  font-size: var(--font-sm);
  background: rgb(187,187,255);
  background: linear-gradient(151deg, rgba(187,187,255,1) 0%, rgba(255,187,255,1) 100%);

  .links {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 1em 0;
  }

  .contents {
    margin: 0 auto;
    max-width: var(--size-content);
    padding: 0 var(--size-gutter) 0 var(--size-gutter);

    display: flex;
    div {
      flex: 1 0 auto;
    }
    div.logo {
      text-align: center;
      .logo {
        .gatsby-image-wrapper {
          transform: translateY(-50%); /* Center vertically */
        }
        img {
          height: 4em;
          display: block;
          width: auto;
        }
      }
    }
    div:last-child {
      text-align: right;
    }
  }
}