:root {
  --color-layout-bg: #f1f9fe;
  --color-wrapper-bg: #ffffff;
  --color-hamburger: #ff9ecf;
  --color-active-highlight: #ff57b4;
  --color-text: #333333;
  --color-inverted-text: #FFFFFF;
  --color-primary: #dc5497;
  --color-primary-shadow: #620e32;
  --color-button: #ff87c3;
  --color-active: #ff57b4;
  --color-code-bg: #fff4db;
  --color-code: #8a6534;
  --color-gradient-start: #D03382;
  --color-gradient-mid: #9B165D;
  --color-gradient-end: #0389d7;
  --color-footer-bg: #d03382;
  --color-mark-start: #f2a3ee5a;
  --color-mark-end: #f2a3ee15;

  --font-serif: 'Cinzel', serif;
  --font-sans: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  --base-unit: 4px;
  --border-radius: var(--base-unit);
  --base-line-height: calc(6 * var(--base-unit));
  --font-size: calc(4 * var(--base-unit));
  --font-xl: calc(8 * var(--base-unit));
  --font-lg: calc(7 * var(--base-unit));
  --font-md: calc(4 * var(--base-unit));
  --font-sm: calc(3 * var(--base-unit));
  --font-sx: calc(2 * var(--base-unit));
  --space-1: var(--base-unit);
  --space-2: calc(2 * var(--base-unit));
  --space-3: calc(4 * var(--base-unit));
  --space-4: calc(6 * var(--base-unit));
  --space-5: calc(8 * var(--base-unit));
  --space-6: calc(16 * var(--base-unit));
  --size-content: 940px;
  --size-gutter: var(--base-line-height);
  --size-gap: var(--base-line-height);
}

$background-color: #eeeeee !default;
$text-color: #222831 !default;
$muted-text-color: #393e46 !default;
$primary-color: #DE62B2 !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #393e46 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

$serif: 'Cinzel', serif !default;
$sans-serif: 'Montserrat', sans-serif !default;
$sans-serif-narrow: 'Cinzel', sans-serif !default;

$global-font-family: 'Montserrat', sans-serif !default;
$header-font-family: 'Cinzel', sans-serif !default;
$caption-font-family: 'Montserrat', serif !default;
