@import "../styles/variables.scss";
@import "node_modules/priority-plus/dist/priority-plus";

.clear-float {
  clear: both;
}

html {
  font-size: var(--font-size);
  line-height: var(--base-line-height);

  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: var(--color-gradient-start);
}
body {
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: var(--font-sans);
  font-size: var(--font-size);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}

// body::after {
//   content: "";
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 9999;
//   pointer-events: none;
//   background-image: linear-gradient(to bottom,rgba(208,51,130,0.05) 1px, transparent 1px);
//   background-size: 100% var(--base-line-height);
// }

a {
  background-color: transparent;
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: 600;
}
dfn {
  font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
  line-height: var(--base-line-height);
  margin: 0;
}
h1 {
  margin: 0;
  letter-spacing: -0.01em;
  font-size: var(--font-xl);
  line-height: calc(1.5 * var(--base-line-height));
  min-height: calc(3 * var(--base-line-height));
}
h1, h2 {
  padding: calc(0.5 * var(--base-line-height)) 0;
  font-family: var(--font-serif);
}
h2 {
  font-size: var(--font-lg);
  line-height: calc(1.5 * var(--base-line-height));
  min-height: calc(2 * var(--base-line-height));
}
h3, h4, h5, h6 {
  padding: 0;
  font-family: var(--font-sans);
}
h1, h2, h3, h4, h5, h6 {
  text-align: left;
  
  font-weight: 600;
}
.layout {
  h1, h2, h3, h4, h5, h6 {
    max-width: 940px;
  }
}
h1 > b {
  color: var(--color-primary);
}
img {
  border-style: none;
  max-width: 100%;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}
ul,
ol {
  list-style-position: inside;
  list-style-image: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}
b,
strong,
dt,
th {
  font-weight: 600;
}
li {
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: var(--base-line-height);
  margin-left: var(--space-4);
  margin-top: var(--base-line-height);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
// p *:last-child {
//   margin-bottom: 0;
// }
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}
.layout {
  p {
    max-width: 940px;
  }
}
code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
  p {
    margin-bottom: 0;
  }
}
pre code {
  background: none;
}
// code:before,
// code:after,
// tt:before,
// tt:after {
//   content: "\00a0";
//   letter-spacing: -0.2em;
// }
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-layout-bg);

  .wrapper {
    flex: 1;
    padding: 0 var(--size-gutter) var(--size-gutter) var(--size-gutter);
    margin: 0 auto;
    max-width: var(--size-content);
    background-color: var(--color-wrapper-bg);
  }

  header, footer {
    .content {
      max-width: var(--size-content);
    }
  }
}

header, footer {
  a {
    color: var(--color-inverted-text);
    text-decoration: none;
    &:hover,
    &:active,
    &:visited {
      color: var(--color-inverted-text);
    }
    display: inline-block;
    position: relative;    
  }
}

header {
  height: calc(2 * var(--base-line-height));
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: linear-gradient(174deg, var(--color-gradient-start) 0%, var(--color-gradient-start) 45%, var(--color-gradient-end) 88%, #85CEFA 97%, #fff 100%);
  color: var(--color-inverted-text);
  font-family: 'Cinzel', serif;
  position: relative;

  .content {
    margin: 0 auto;
    padding: 1ex var(--size-gutter) 1ex var(--size-gutter);
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: space-between;

    > a {
      text-decoration: none;
      flex-grow: 0;
      flex-shrink: 0;
      font-family: 'Cinzel', serif;
      font-weight: 900;

      .logo {
        display: inline-block;
        position: relative;
        z-index: 1;        
      }
    }

    .p-plus {
      z-index: 1;
    }
  }

  .menu {
    flex-grow: 1;
  
    nav {
      ul.js-p-target {
        display: flex;
        flex: 1 0 auto;
        margin: 0;
        padding: 0;
        
        li {
          display: list-item;
          list-style-type: none;
          flex: 0 0 auto;
          padding: 0 1.5em 0 0;
          margin: 0;
          text-align: right;
        }
        li:last-child {
          padding-right: 0;
        }
      }
      ul.p-plus__overflow {
        position: fixed;
        top: calc(2 * var(--base-line-height));
        background: linear-gradient(174deg, var(--color-gradient-end) 0%, var(--color-gradient-end) 50%, var(--color-gradient-start) 85%, var(--color-gradient-mid) 100%);
        margin: 0;
        padding: 1.5em 1.5em 1.5em 1.5em;
        list-style-type: none;
      }

      a {
        font-weight: 500;
        color: white;
        text-decoration: none;
        &:hover,
        &:active,
        &:visited {
          color: var(--color-inverted-text);
        }
      }
    }
  
    button {
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-left: 1em;
      .hamburger {
        width: 1em;
        height: 1em;
        display: block;
        border: none;
        background: linear-gradient(
          to bottom,
          var(--color-hamburger), var(--color-hamburger) 20%, transparent 20%, transparent 40%, var(--color-hamburger) 40%, var(--color-hamburger) 60%, transparent 60%, transparent 80%, var(--color-hamburger) 80%, var(--color-hamburger) 100%
        );
      }
    }
  }
}

header .content {
  
  a {
    display: inline-block;
    position: relative;
    z-index: 1;

    &:hover::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--color-active);
      border-radius: 8px;
      z-index: -1;
    }
  }

  a.active {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 4px;
      background-color: var(--color-gradient-end);
      z-index: 1;
    }

    &:hover::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: unset;
      background-color: var(--color-active);
      border-radius: 8px;
      z-index: -1;
    }
  }
}

a.button {
  background-color: var(--color-primary);
  box-shadow: 0 0.5em 0 var(--color-primary);
  color: white;
  padding: 1em 1.5em 0.5em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 1em;
  font-weight: 500;
  white-space: nowrap;

  &:active {
    box-shadow: none;
    top: 5px;
    background-color: var(--color-active);
  }
}

a.button:hover {
  background-color: var(--color-active);
  cursor: pointer;
}

a.button:active {
  box-shadow: none;
  top: 5px;
}

.hero {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: calc(100% + 2 * var(--size-gutter));
  margin-left: calc(-1 * var(--size-gutter));

  .hero-image {
    width: 100%;
    max-width: 940px;
  }

  .hero-overlay {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: var(--size-gutter);
    right: 50%;
  }

  h1, h2, h3, h4 {
    word-break: keep-all;
    overflow-wrap: normal;
    margin: 0;
  }
}

article {
  position: relative;

  .draft-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
      -45deg,
      var(--color-mark-end),
      var(--color-mark-end) 10%,
      transparent 10%,
      transparent 20%
    );
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
  }

  .draft-overlay-text {
    font-size: 10em;
    color: var(--color-mark-start);
    transform: rotate(-45deg);
    font-weight: 900;
    font-family: var(--font-sans);
    text-align: center;
    width: 150%;
    margin-top: 100%;
  }

  .heading {
    .date {
      margin: 0;
      font-style: italic;
    }
    div.authors {
      display: flex;
      .byline {
      }
      ul.authors {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
          margin: 0 0 0 0.5ex;
          padding: 0;
          display: flex;
        }
      }
    }
    margin-bottom: var(--base-line-height);
  }
  h1 {
    margin-top: var(--base-line-height);
    margin-bottom: 0;
  }

  text-justify: inter-word;

  table.data {
    border-collapse: collapse;
    font-size: var(--font-sm);
    line-height: var(--base-line-height);
    margin: 0 auto var(--base-line-height) auto;
    padding: 0;

    th {
      background-color: var(--color-primary);
      color: var(--color-inverted-text);
      border-right: 3px white solid;
    }
    tr:nth-child(odd) {
      background-color: rgba(3, 162, 254, 0.1);
    }
    th, td {
      padding: 0 1ex;
    }
    tr.etc {
      background-color: var(--color-layout-bg)
    }
    td.number {
      text-align: right;
    }
  }
  table.overflow {
    overflow: hidden;
  }

  sup {
    vertical-align: super;
    line-height: 0;
    font-size: smaller;
  }
  .citation {
    &::before {
      content: "[";
    }
  
    &::after {
      content: "]";
    }
  
    a {
      text-decoration: none;
      color: var(--color-text)
    }
  }

  .citationslist {
    text-align: left;
    word-break: break-all;
    li {
      margin-bottom: var(--base-line-height);
    }
  }
}

.gatsby-image-wrapper.right {
  float: right;
  width: 40%;
  height: auto;
  margin-left: calc(2 * var(--base-line-height));
  margin-bottom: var(--base-line-height);
}
.gatsby-image-wrapper.full {
  margin-bottom: 1em;
}
.center-full-image {
  text-align: center;
}
mark {
  -webkit-animation: 12s highlight 0s 1 normal forwards;
          animation: 12s highlight 0s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, var(--color-mark-start) 25%, var(--color-mark-end) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

.responsive-float-right-image {
  float: right;
  width: 40%;
  height: auto;
  margin-left: 1em;
  margin-bottom: 1em;
}

ul.blog {
  margin-left: 0;
  li {
    list-style-type: none;
    margin-bottom: var(--base-line-height);

    .gatsby-image-wrapper.right {
      width: 30%;
    }  
  }
}

ul {
  .date {
    font-style: italic;
  }
}

.smallImageList {
  li {
    .gatsby-image-wrapper {
      width: 6em;
      float: right;
      margin-left: 2ex;
      margin-bottom: 1ex;
    }
  }
}

.blockDiagram {
  border-radius: 1ex;
  display: flex;
  flex-direction: column;
  padding: 0 var(--space-2) var(--space-2) var(--space-2);
  margin-bottom: var(--space-4);
  .title {
    width: 100%;
    text-align: center;
    p {
      margin-bottom: 0;
    }
  }
  .container {
    padding: var(--space-2);
    background-color: var(--color-layout-bg);
    color: var(--color-text);
    border-radius: 1ex;
    &:not(:first-of-type) {
      margin-top: 1em;
    }
    .messages {
      width: 100%;
      border-collapse: separate; 
      border-spacing: 0 8px;
      tr {
        background-color: #EEE;
      }
      .role {
        font-family: var(--font-mono);
        padding: 1ex var(--space-4);
        border-radius: 1ex 0 0 1ex;
      }
      .content {
        width: 100%;
        padding: 1ex var(--space-4);
        border-radius: 0 1ex 1ex 0;
      }
    }
  }
  .container.technologyStack {
    text-align: center;
    p {
      margin-bottom: 0;
    }
  }
}
.blockDiagram.request {
  color: var(--color-layout-bg);
  background-color: var(--color-gradient-end);
}
.blockDiagram.response {
  color: var(--color-layout-bg);
  background-color: var(--color-gradient-start);
}

.comparisonChart {
  display: flex;
  align-items: stretch;
  text-align: left;
  margin-bottom: var(--space-4);

  .left-side, .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 var(--space-4);

    h4 {
      margin-bottom: 1em;
    }

    .item {
      margin-bottom: 1em;
    }
  }

  .separator {
    width: 0.25ex;
    background-color: var(--color-gradient-start);
    margin: 0 2em;
  }
}

footer {
  width: 100%;
  margin: auto;
  padding: 1ex 0;
  font-size: var(--font-md);
  background: rgb(208,51,130);
  background: linear-gradient(172deg, #fff 0%, #85CEFA 3%, var(--color-gradient-end) 10%, var(--color-gradient-start) 64%, var(--color-gradient-start) 100%);
  color: var(--color-inverted-text);

  .links {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 1em 0;
  }

  .fullWidth {
    margin: 0 auto;
    max-width: var(--size-content);
  }
  
  .contents {
    margin: 0 auto;
    padding: 0 var(--size-gutter) 0 var(--size-gutter);

    div.logo {
      text-align: center;
      max-width: 4em;
      margin: 0 auto;
    }
  }
}


@media only screen and (max-width: 600px) {
  header {
    a {
      .logo {
        left: 2px;
      }
    }
  }
  .hero {
    .hero-image {
      height: 400px;
      
      picture {
        img {
          object-position: 60% 0;
        }
      }
    }
  }
  article {
    .draft-overlay-text {
      font-size: 8em;
    }  
  }
  .blockDiagram {
    font-size: var(--font-sm);
    padding: 0 var(--space-1) var(--space-1) var(--space-1);
    .container {
      padding: var(--space-1);
      .messages {
        .role {
          padding: 1ex var(--space-2);
        }
        .content {
          padding: 1ex var(--space-2);
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  :root {
    --font-sm: calc(2 * var(--base-unit));
  }
  article {
    .draft-overlay-text {
      font-size: 5em;
    }  
  }
}

@media only screen and (min-width: 601px) {
  :root {
    --base-line-height: calc(7 * var(--base-unit));
    --font-size: calc(5 * var(--base-unit));
    --font-md: calc(5 * var(--base-unit));
    --font-lg: calc(8 * var(--base-unit));
    --font-xl: calc(9 * var(--base-unit));
  }

  header {
    a {
      .logo {
        left: -6px;
      }
    }
  }
  .hero {
    .hero-image {
      height: 400px;
      
      picture {
        img {
          object-position: 0 90%;
        }
      }
    }
  }
  article {
    // text-align: justify;

    table.data {
      th, td {
        letter-spacing: 0.1ex;
      }
    }
  }
}

/* For portrait tablets */
@media only screen and (min-width: 601px) and (max-width: 900px) {
}

/* For wide tablets and small desktops */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  /* Styles */
}
@media only screen and (min-width: 901px) {
  .hero {
    .hero-image {
      height: 600px;
      
      picture {
        img {
          object-position: 0 90%;
        }
      }
    }
  }
}

/* For super-wide desktops */
@media only screen and (min-width: 1201px) {
}